.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 1em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .secondary.pointing.menu .item,
    .secondary.pointing.menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

.card-bg {
    -webkit-animation-name: example;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    width: 100%;
}

@-webkit-keyframes example {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes example {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.col {
    width: 100%;
    position: relative !important;
}

.create-card-gif {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
}

.absolute-menu {
    position: absolute;
    top: 0%;
    left: 10%;
}

.start-button {
    position: absolute !important;
    top: 40% !important;
    left: 41% !important;
    width: 18%;
    cursor:pointer;
}
.pre-register-button {
    position: absolute !important;
    top: 45% !important;
    left: 33% !important;
    width: 33%;
    cursor:pointer;
}

.banner-text {
    position: absolute !important;
    top: 30% !important;
    left: 44% !important;
    width: 18%;
}

.banner-card {
    position: absolute !important;
    top: 40% !important;
    left: 62% !important;
    width: 10%;
}

.banner {
    background: url("https://d1wwbe44qvngmh.cloudfront.net/images/banner-bg.png") center bottom;
    background-size: cover;
    padding-bottom: 25%;
    max-height: 700px;
}


.battle-bg {
    position: absolute;
    top: -30%;
    left: -40%;
    width: 150%;
    z-index: -1;
}

.white {
    color: white !important;
}

.gray {
    color: gray;
}

.footer-right {
    position: absolute;
    top: 75%;
    left: 56%;
    font-size: 1vw;
}

.footer-left {
    position: absolute !important;
    top: 65%;
    left: 5%;
    width: 30%;
    max-width: 400px;
}

h2.ui.header {
    font-size: 2.5rem !important;
}

.bigger {
    width: 120% !important;
    max-width: 120% !important;
    left: -10% !important;
}

.reduce-margin {
    margin-top: -10% !important;
}

.step123 {
    width: 67%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.card {
    width: 33%;
}

body,html {
    height: auto !important;
    width: 100%;
    background: #1A496F;
    background: linear-gradient(to bottom right, #000000 5.31%, #1A496F 45.13%, #000000 94.21%);;
}
